/* CSS Document */
body{
	background-color: #4F5051;
	   margin-right: 0;
	   padding-right: 0;
	   margin-top: 0;
	   margin-left: 0;
   }
   .topnav{
	   overflow:hidden;
	   background-color: #333;
	   list-style: none;
	   margin-right: 0;
	   font-weight: bold;
	   width:100%;
   }
   .topnav .active{
	   background-color: limegreen;
   }
   .topnav a{
	   float:left;
	   color:#F2F2F2;
	   text-align: center;
	   padding: 14px 16px;
	   text-decoration: none;
	   font-size: 17px;
   }
   .topnav a:hover{
	   background-color: #F98D03;
	   color:black;
   }
   
   #main{	
	   
	   background-repeat: no-repeat;
	   position: fixed;
	   left:100;
	   width: 100%;
	   height:100%;
	   margin-right: 0;
	   margin-left: 0;
	   background-size: cover;
   }
   .content{
	   position: absolute;
	   margin:auto;
	bottom: 50%;
	   width: 100%;
	   color: #F2F2F2;
	   font-family: "alex-brush";
	   font-style: italic;
	   font-size: 30px;
	   text-align: center;
   }
   .content input[type=submit]{
	width: 5%;
	background-color: black;
	color: white;
	padding-left: auto;
	padding-right:auto;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
   }
	.content input[type=text]{
		width: 20%;
 	    padding: 12px 20px;
		margin-right: auto;
		margin-left: auto;
 	    display: block;
  		border: 1px solid #ccc;
  		border-radius: 4px;
  		box-sizing: border-box;
	}
   .backgroundimage{
	   background-image: url("../Media/postback.jpeg");
	   background-repeat: no-repeat;
	   position: fixed;
	   top:100;
	   left:100;
	   width: 100%;
	   height:100%;
	   margin-bottom: 100;
	   margin-right: 0;
	   margin-left: 0;
	   background-size: cover;

   }
h1{
	margin-bottom: 10px;
}
.decribe{
	border-radius: 25px;
    border: 2px solid orange;
  	padding: 10px; 
  	width: 200px;
	 color:white;
	margin-top: 2%;
	margin-left: 2%;
}
.describe h1{
	margin-top:0;
}
h5{
	margin: 0%;
	color: limegreen;
}

h4{margin: 0%}

/* Adham's css starts here. */
.A_main{
	position:relative;
	height:100%;
	width:100%;
	float: left;
}
.A_background{
	background-image: url("../Media/bg-01.jpg");
	background-repeat: no-repeat;
	position: fixed;
	top:100;
	left:100;
	padding-top: 100;
	padding-bottom: 100;
	width: 100%;
	height:100%;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	background-size: cover;
}
*{box-sizing:border-box}


.A_login-html{
	width:100%;
	height:100%;
	position:relative;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
	margin: auto;
	margin-top: 50px;
	max-width:525px;
	min-height:525px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}
	

.A_login-html .A_SIN,
.A_login-html .A_SUP{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	color:#fff;
	border-color:#1161ee;
}

.A_login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
}


.A_login-form .A_group{
	margin-bottom:15px;
}
.A_login-form .A_group .A_label,
.A_login-form .A_group .A_input,
.A_login-form .A_group .A_button{
	width:100%;
	color:#fff;
	display:block;
}
.A_login-form .A_group .A_input,
.A_login-form .A_group .A_button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.A_login-form .A_group input[data-type="password"]{
	-webkit-text-security:circle;
}
.A_login-form .A_group .A_label{
	color:#aaa;
	font-size:15px;
	padding: 5px;
}
.A_login-form .A_group .A_button{
	background:#1161ee;
}
.A_login-form .A_group label .A_icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.A_login-form .A_group .A_check{
	display:none;
}
.A_login-form .A_group label .A_icon:before,
.A_login-form .A_group label .A_icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.A_login-form .A_group label .A_icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.A_login-form .A_group label .A_icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.A_login-form .A_group .A_check:checked + label{
	color:#fff;
}
.A_login-form .A_group .A_check:checked + label .A_icon{
	background:#1161ee;
}
.A_login-form .A_group .A_check:checked + label .A_icon:before{
	transform:scale(1) rotate(45deg);
}
.A_login-form .A_group .A_check:checked + label .A_icon:after{
	transform:scale(1) rotate(-45deg);
}


a.A_member:visited, a.A_member:link{
	color:#FFFFFF;
}

a.A_member:hover, a.A_member:active {
	color:#BDBDBD;
}

.A_hr{
	height:2px;
	margin:30px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.A_foot-lnk{
	text-align:center;
	font-size: 15px;
}

/* هنا يرقد حزلقوزم */
