/* CSS Document */
/*
body{
	  background-color: #4F5051;
	   margin-right: 0;
	   padding-right: 0;
	   margin-top: 0;
	   margin-left: 0;
   }
	*/
	.navB ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	.navB li{
		float: left;
	}

	.navB li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.navB li a:hover, .dropdown:hover .dropbtn {
		background-color: red;
	}
	.navB li.dropdown {
		display: inline-block;
		float: right;
	}

	.navB .dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.navB .dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.navB .dropdown-content a:hover{
		background-color: #f1f1f1;
	}

	.navB .dropdown:hover .dropdown-content {
		display: block;
	}

	.navB .active{
	 background-color: #1161ee;
	}

   #main{	
	   background-repeat: no-repeat;
	   position: fixed;
	   margin-right: 0;
	   margin-left: 0;
	   background-size: cover;
   }
   .content{
	   margin: auto;
	   color: #F2F2F2;
	   font-family: "alex-brush";
	   font-style: italic;
	   font-size: 30px;
	   text-align: center;
   }
   .content input[type=submit]{
	width: 10%;
	background-color: limegreen;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
   }
	.content input[type=text]{
		width: 20%;
 	    padding: 12px 20px;
		margin-right: auto;
		margin-left: auto;
 	    display: block;
  		border: 1px solid #ccc;
  		border-radius: 4px;
  		box-sizing: border-box;
	}
 
  body{
		background-image: url("../Media/postback.jpeg");
		background-repeat: no-repeat;
		background-size:cover;
		height: 100%;
		margin:0;
		overflow:auto;
	}
h1{margin-bottom: 10px;}
.decribe{
	border-radius: 25px;
  border: 2px solid orange;
  padding: 10px; 
  width: 200px;
	color:white;
	margin-top:2%;
	float:left;

}
.decribe h1{
	margin-top:0;
}
h4{
	margin: 0%;
	color: limegreen;
}

h3{margin: 0%}
#logo{
	margin-top: 2%;
	margin-right: 3%;
}
/* Adham's css starts here. */
.A_main{
	position:relative;
	height:100%;
	width:100%;
	float: left;
	
}
*{box-sizing:border-box;}
footer{
	z-index: 1;
}

.A_login-html{
	width:100%;
	height:100%;
	position: relative;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
	margin: auto;
	margin-top: 50px;
	max-width:525px;
	min-height:525px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}
	

.A_login-html .A_SIN,
.A_login-html .A_SUP,
.A_login-html .A_FP{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	color:#fff;
	border-color:#1161ee;
}
.A_login-form{
	min-height:345px;
	position:relative;
	
	
}


.A_login-form .A_group{
	margin-bottom:15px;
}
.A_login-form .A_group .A_label,
.A_login-form .A_group .A_input,
.A_login-form .A_group .A_button{
	width:100%;
	color:#fff;
	display:block;
}
.A_login-form .A_group .A_input,
.A_login-form .A_group .A_button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.A_login-form .A_group input[data-type="password"]{
	-webkit-text-security:circle;
}
.A_login-form .A_group .A_label{
	color:#aaa;
	font-size:15px;
	padding: 5px;
}
.A_login-form .A_group .A_button{
	background:#1161ee;
}
.A_login-form .A_group label .A_icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.A_login-form .A_group .A_check{
	display:none;
}
.A_login-form .A_group label .A_icon:before,
.A_login-form .A_group label .A_icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.A_login-form .A_group label .A_icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.A_login-form .A_group label .A_icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.A_login-form .A_group .A_check:checked + label{
	color:#fff;
}
.A_login-form .A_group .A_check:checked + label .A_icon{
	background:#1161ee;
}
.A_login-form .A_group .A_check:checked + label .A_icon:before{
	transform:scale(1) rotate(45deg);
}
.A_login-form .A_group .A_check:checked + label .A_icon:after{
	transform:scale(1) rotate(-45deg);
}


a.A_member:visited, a.A_member:link{
	color:#FFFFFF;
}

a.A_member:hover, a.A_member:active {
	color:#BDBDBD;
}

.A_hr{
	height:2px;
	margin:30px 0 50px 0;
	background:rgba(255,255,255,.2);
	
}
.A_foot-lnk{
	text-align:center;
	font-size: 15px;
	
}
/* هنا يرقد حزلقوزم */

#M_main{	
	   background-image: url("../media/postback.jpeg");
	   background-repeat: no-repeat;
		 box-shadow: 5px 10px #F98D03;
	   position: fixed;
	   top:100%;
	   left:100%;
	   padding-top: 100%;
	   padding-bottom: 100%;
	   width: 100%;
	   height:100%;
	   margin-bottom: 0;
	   margin-right: 0;
	   margin-left: 0;
	   background-size: cover;
   }

.M_header {
	color:#F2F2F2;
	text-align: center;
}

.M_container {
  width: 50%;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  padding: 40px;
  background-color: #D7D7D7;
  opacity: 0.8; 
}

input1[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input1[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input1[type=submit]:hover {
  background-color: black;
}
#M_main2{	
	   background-image: url("../media/postback.jpeg");
	   background-repeat: no-repeat;
		 box-shadow: 5px 10px #F98D03;
	   position: fixed;
	   top:100%;
	   left:100%;
	   padding-top: 100%;
	   padding-bottom: 100%;
	   width: 100%;
	   height:100%;
	   margin-bottom: 0;
	   margin-right: 0;
	   margin-left: 0;
	   background-size: cover;
   }

.M_header2 {
	color:#FFFFFF;
	text-align: center;
}

.M_container2 {
  width: 50%;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  padding: 40px;
  background-color: #D7D7D7;
  opacity: 0.9; 
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}


.S_row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.S_col2 {
  -ms-flex: 50%; 
  flex: 50%;
}

.S_col1 {
  -ms-flex: 75%; 
  flex: 75%;
}

.S_col2,
.S_col1 {
  padding: 0 16px;
}

.S_container {
 width: 50%;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  padding: 40px;
  background-color: #D7D7D7;
  opacity: 0.8; 
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.S_back {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 20px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.S_back:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
/* هنا يرقد حزلقوزم */
/*css document*/
#browsecontent{
	margin-top:auto;
	margin:auto;
	margin-bottom: 5%;
	position: relative;
	
}
#browsecontent h1{
	color:white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	margin-bottom: 1px;
}
#browsecontent table, th, td{
	border: 1px solid orange;
	border-collapse: collapse;
	color: white;
	padding:20px;
	
}
#find{
	width :30%;
	height: 50%;
}
input[type=submit]{
	border-radius: 2px;
	border:none;
	padding: 8px 8px 8px 8px;
	background-color: orangered;
	color:white;
	cursor: pointer;
}
input[type=search]{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
}
